h3{
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-weight: bold;
}

label{
    margin-right: 10px;
    font-weight: bold;
}

input{
    margin-right: 20px;
}

button{
    margin-left: 30px;
}

form{
    text-align: center;
}

.jumbotron{
    
    background-size: cover;
    height: 100%;
    margin-bottom: 0.10cm;

}
